span(ng-controller="HeaderCtrl", ng-show="displayUserElement")
    .navbar.navbar-inverse.navbar-fixed-top(ng-if="displayUserElement")
        .container-fluid
            .navbar-header
                a(href="/").navbar-brand chatR
            ul.nav.navbar-nav.navbar-right
                li(ng-click="logOut()")
                    a(href="#") Log Out