script(src="/vendor/socket.io-client/socket.io.js")
//- bower:js
script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/validator-js/validator.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-route/angular-route.js")
script(src="/vendor/moment/moment.js")
//- endinject
//- inject:js
script(src="/app/app.js")
//- endinject