input {
  &.ng-dirty {
    &.ng-invalid {
      border-color: $danger-border-color;
      background-color: $danger-background-color;
    }
  }
}
label {
  &.invalid {
    color: $danger-border-color;
  }
}