html {
  font-size: $base-font-size;
}
body {
  font-family: $default-font;
}
.content-body {
  margin: 50px 0 0 0;
  padding: 0;
}

// Paragraph
h1 {
  margin: 0;
  padding: 0;
  font-size: $heading-font-size;
  font-weight: normal;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: $sub-heading-font-size;
  font-weight: normal;
}

// Input
label {
  font-weight: normal;
}
input {
  font-family: $default-font;
}